* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    font-family: Georgia;
    font-size: 16px;
}

h1 {
    font: 30px/34px 'DejaVuSerifCondensed-Bold', Arial, sans-serif;letter-spacing: 0;
	  margin-bottom: .4em;
}

h2{
	  font: 18px/22px 'DejaVuSerifCondensed-Bold', Arial, sans-serif;letter-spacing: 0;
	  margin-bottom: 2em;
	  margin-top: 2em;
}

p {
    margin: 1em 0;
}

.site {
    width: 44em;
    margin: 1em auto 2em auto;
}

.post {
    line-height: 1.5em;
}

.post pre code {
    border: none;
}

.post pre {
    border: 1px dashed #ccc;
    background-color: #fff;
    padding: 0 .4em;
    margin-top: .5em;
    margin-bottom: .5em;
}

.post code {
    border: 1px solid #ddd;
    background-color: #fff;
    font-size: 80%;
    padding: 0 .2em;
    line-height: 1.2em;
}