* {
    margin: 0;
    padding: 0;
}

html, body {
    /* height: 100%; */
}

body {
    font-family: Georgia;
    font-size: 16px;
}

h1 {
    font: 30px/34px 'DejaVuSerifCondensed-Bold', Arial, sans-serif;letter-spacing: 0;
	  margin-bottom: .4em;
}

h2{
	  font: 18px/22px 'DejaVuSerifCondensed-Bold', Arial, sans-serif;letter-spacing: 0;
	  margin-bottom: 2em;
	  margin-top: 2em;
}

p {
    margin: 1em 0;
}

.site {
    width: 44em;
    margin: 1em auto 2em auto;
}

.post {
    line-height: 1.5em;
}

/* .post pre code { */
/*     border: none; */
/* } */

/* .post pre { */
/*     border: 1px dashed #ccc; */
/*     background-color: #f00000; */
/*     padding: 0 .4em; */
/*     margin-top: .5em; */
/*     margin-bottom: .5em; */
/* } */

/* .post code { */
/*     border: 1px solid #ddd; */
/*     font-size: 80%; */
/*     padding: 0 .2em; */
/*     line-height: 1.2em; */
/* } */

.post pre {
    font-size: 90%;
    line-height: 1.3em;
    font-family: "Courier 10 Pitch", Courier, monospace; 
    white-space: pre; 
    white-space: pre-wrap; 
    white-space: -moz-pre-wrap; 
    white-space: -o-pre-wrap; 

    height:1%;
    width: auto;
    display: block;
    clear: both;
    color: #555555;
    padding: 1em 1em;
    margin: auto 10px auto 10px;
    background: #f8f8f8;
    border: solid 1px #e1e1e1
} 

.post code { 
    font-size: 90%;
    line-height: 1.3em;
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;

    display: inline; 
    color: #555555;
    padding: .3em .3em;
    background: #f8f8f8;
}